.rslides {
    height: 350px;
}

.rslides_li {
    display: block;
    float: none;
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition: opacity 500ms ease-in-out 0s;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.callbacks_container {
    position: relative;
    width: 100%;
}

.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
}

.callbacks li {
    position: absolute;
    width: 100%;
}

.headlook {
    position: relative;
    z-index: 1;
    margin-bottom: 1.25rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgb(238, 202, 112);
}

.call_nav {
    position: absolute;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 55px;
    margin-top: -65px;
}

.call_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}

.call_tabs {
    list-style: none;
    position: absolute;
    /* top: 95%; */
    z-index: 999;
    left: 45%;
    padding: 0;
    margin: 0;
}

.call_tabs li {
    display: inline-block;
}

@media screen and (max-width: 600px) {
    .call_nav {
        top: 47%;
    }
}

.call_tabs a {
    visibility: hidden;
}

.call_tabs a:after {
    content: "\f111";
    font-size: 0;
    visibility: visible;
    display: block;
    height: 5px;
    width: 5px;
    display: inline-block;
    border: 2px solid rgb(239, 177, 18);
    border-radius: 50%;
    background: rgb(239, 177, 18);
}

.call_here a:after {
    border: 2px solid rgb(239, 177, 18);
    background: #fff;
}

.callbacks_nav,
.callbacks_tabs {
    display: none;
}